fastapi
uvicorn
pymongo
python-multipart

python-docx
pymupdf
pytesseract
opencv-python
pdfplumber
camelot-py[cv]

transformers
openai
langchain
crewai
google-generativeai
sentence-transformers

streamlit
streamlit_scrollable_textbox
requests 
pillow